/* https://stackoverflow.com/questions/62305956/fivethirtyeight-style-in-text-footnotes-for-bookdown */
/* https://github.com/wjakethompson/bd-reprex/blob/masterassets/style.css */

#fn-content {
  font-size: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left:auto;
  margin-right:auto;
  width: 90%;
}

div.experiment {
  background-color: #d4edda;
  padding: 5px;
  border: 1px solid black;
  margin-left: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 5px;
  font-style: normal;
  }

div.experiment::before{
  content: "🧪";
}

div.proj {
  background-color: #fff3cd;
  padding: 5px;
  border: 1px solid black;
  margin-left: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 5px;
  font-style: normal;
  }

div.proj::before{
  content: "✏️";
}

kbd {
  border-radius: 2px;
  padding: 2px;
  border: 1px solid black;
  font-family: monospace;
}